<!-- 
Covers:

1) if else statment in handlebars
-->
<!doctype html>
<html>
<head>
	<meta charset=utf-8>
	<title>Handlebars</title>
	<style>
	h2 span {
		color:gray;
		font-size: .8em;
	}
	</style>
</head>
<body>
	<ul class="tweets">
		<script id="template" type="text/x-handlebars-template">
			{{#each this}}
			<li>
					<h2>{{author}} {{#if age}} - <span>{{age}}</span>{{/if}}</h2>
				<p>{{{tweet}}}</p>

				{{#if quote}}
					<h5>{{quote}}</h5>
				{{else}}
					<h5> author does not have a quote</h5>
				{{/if}}
			</li>
			{{/each}}
		</script>
	</ul>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="./handlebars-v3.0.3.js"></script>

	<script>
	(function() {
		var data = [
			{
				author: 'Jason',
				tweet: 'Handlebars Test',
				age: 27,
				quote: 'This has a quote'
			},
			{
				author: 'John',
				tweet: '<strong> Handlebars </strong> Test'
			}
		];
		var template = Handlebars.compile( $('#template').html() );
		var temp = template(data);
		console.log(temp);

		$('ul.tweets').append( template(data) );
	})();
	</script>
	
	
</body>
</html>
